.app:hover {
	box-shadow: 0 0 10px #705CB2, 0 0 20px #705CB2, 0 0 40px;
}

.app.selected {
	box-shadow: 0 0 10px #705CB2, 0 0 20px #705CB2, 0 0 40px;
}

.settingCategory {
	color: #705CB2;
}

.setting {
	color: #3E2F6F;
}

.settingOption {
	background-color: #3E2F6F;
}

.settingOption.selected {
	background-color: #705CB2;
	box-shadow: 0 0 10px #705CB2, 0 0 20px #705CB2, 0 0 40px;
}

.appMenu {
	color: #705CB2;
}

.doWithApp {
	background-color: #705CB2;
	box-shadow: 0 0 10px #705CB2, 0 0 20px #705CB2, 0 0 40px;
}
  
.overlayContent {
	color: #705CB2;
}

.overlayButton {
	background-color: #705CB2;
	box-shadow: 0 0 10px #705CB2, 0 0 20px #705CB2, 0 0 40px;
}

.addAppInputInputs input {
	background-color: #705CB2;
	box-shadow: 0 0 10px #705CB2, 0 0 20px #705CB2, 0 0 40px;
}