.app:hover {
	box-shadow: 0 0 10px #C9FF00, 0 0 20px #C9FF00, 0 0 40px;
}

.app.selected {
	box-shadow: 0 0 10px #C9FF00, 0 0 20px #C9FF00, 0 0 40px;
}

.settingCategory {
	color: #C9FF00;
}

.setting {
	color: #56FF00;
}

.settingOption {
	background-color: #56FF00;
}

.settingOption.selected {
	background-color: #C9FF00;
	box-shadow: 0 0 10px #C9FF00, 0 0 20px #C9FF00, 0 0 40px;
}

.appMenu {
	color: #C9FF00;
}

.doWithApp {
	background-color: #C9FF00;
	box-shadow: 0 0 10px #C9FF00, 0 0 20px #C9FF00, 0 0 40px;
}
  
.overlayContent {
	color: #C9FF00;
}

.overlayButton {
	background-color: #C9FF00;
	box-shadow: 0 0 10px #C9FF00, 0 0 20px #C9FF00, 0 0 40px;
}

.addAppInputInputs input {
	background-color: #C9FF00;
	box-shadow: 0 0 10px #C9FF00, 0 0 20px #C9FF00, 0 0 40px;
}