.app:hover {
	box-shadow: 0 0 10px #FF8303, 0 0 20px #FF8303, 0 0 40px;
}

.app.selected {
	box-shadow: 0 0 10px #FF8303, 0 0 20px #FF8303, 0 0 40px;
}

.settingCategory {
	color: #FF8303;
}

.setting {
	color: #FD5602;
}

.settingOption {
	background-color: #FD5602;
}

.settingOption.selected {
	background-color: #FF8303;
	box-shadow: 0 0 10px #FF8303, 0 0 20px #FF8303, 0 0 40px;
}

.appMenu {
	color: #FF8303;
}

.doWithApp {
	background-color: #FF8303;
	box-shadow: 0 0 10px #FF8303, 0 0 20px #FF8303, 0 0 40px;
}
  
.overlayContent {
	color: #FF8303;
}

.overlayButton {
	background-color: #FF8303;
	box-shadow: 0 0 10px #FF8303, 0 0 20px #FF8303, 0 0 40px;
}

.addAppInputInputs input {
	background-color: #FF8303;
	box-shadow: 0 0 10px #FF8303, 0 0 20px #FF8303, 0 0 40px;
}