.app:hover, .selected, .doWithApp, .overlayButton, .addAppInputInputs {
	box-shadow: 0 0 10px #FF8303, 0 0 20px #FF8303, 0 0 40px;
}

.settingCategory, .appMenu, .overlayContent {
	color: #FF8303;
}

.setting, .settingOption {
	color: #FD5602;
}

.settingOption, .doWithApp, .overlayButton, .addAppInputInputs {
	background-color: #FF8303;
}