.app:hover {
	box-shadow: 0 0 10px #FB79A0, 0 0 20px #FB79A0, 0 0 40px;
}

.app.selected {
	box-shadow: 0 0 10px #FB79A0, 0 0 20px #FB79A0, 0 0 40px;
}

.settingCategory {
	color: #FB79A0;
}

.setting {
	color: #EC1354;
}

.settingOption {
	background-color: #EC1354;
}

.settingOption.selected {
	background-color: #FB79A0;
	box-shadow: 0 0 10px #FB79A0, 0 0 20px #FB79A0, 0 0 40px;
}

.appMenu {
	color: #FB79A0;
}

.doWithApp {
	background-color: #FB79A0;
	box-shadow: 0 0 10px #FB79A0, 0 0 20px #FB79A0, 0 0 40px;
}
  
.overlayContent {
	color: #FB79A0;
}

.overlayButton {
	background-color: #FB79A0;
	box-shadow: 0 0 10px #FB79A0, 0 0 20px #FB79A0, 0 0 40px;
}

.addAppInputInputs input {
	background-color: #FB79A0;
	box-shadow: 0 0 10px #FB79A0, 0 0 20px #FB79A0, 0 0 40px;
}