.app:hover, .selected, .doWithApp, .overlayButton, .addAppInputInputs {
	box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px;
}

.settingCategory, .appMenu, .overlayContent {
	color: #00ffff;
}

.setting, .settingOption {
	color: #00aaaa;
}

.settingOption, .doWithApp, .overlayButton, .addAppInputInputs {
	background-color: #00ffff;
}