@font-face {
    font-family: steam;
    src: url("assets/Steam Font.ttf");
}

@font-face {
    font-family: steambold;
    src: url("assets/Steam Font Bold.ttf");
}

body {
	background-color: #383f4a;
	padding: unset;
	margin: unset;
	font-family: steam, sans-serif;
}

.header {
	height: 40px;
	margin: 0;
	background-color: #000000;
	color: #dcdedf;
	text-align: center;
	font-family: steambold, sans-serif;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	margin: 0;
	background-color: #000000;
	color: #dcdedf;
	text-align: center;
	font-family: steambold, sans-serif;
}

.steamButton {
	background-color: #ffffff;
	color: #000000;
	border-radius: 50px;
	padding: 5px;
	margin: 5px;
	letter-spacing: 0.1em;
}

.apps {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1rem;
	margin: 1rem;
}

.app img {
	width: 100%;
	border-radius: 20px;
}