@font-face {
    font-family: steam;
    src: url("../assets/fonts/Steam Font.ttf");
}

@font-face {
    font-family: steambold;
    src: url("../assets/fonts/Steam Font Bold.ttf");
}

button {
	font-family: steam, sans-serif;
	font-size: medium;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	padding: unset;
	margin: unset;
	font-family: steam, sans-serif;
	user-select: none;
	background: rgb(60,67,79);
	background: linear-gradient(180deg, rgba(60,67,79,1) 0%, rgba(41,45,53,1) 100%);
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	margin: 0;
	background-color: #000000;
	color: #dcdedf;
	text-align: center;
	font-family: steambold, sans-serif;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	margin: 0;
	background-color: #000000;
	color: #dcdedf;
	text-align: center;
	font-family: steambold, sans-serif;
}

.steamButton {
	background-color: #ffffff;
	color: #000000;
	border-radius: 50px;
	padding: 5px 15px;
	letter-spacing: 0.1em;
	margin: 5px;
}


.menu-items {
	margin-left: 30px;
	position: absolute;
	left: 0;
	margin-top: 10px;
	cursor: pointer;
}

.menu-items * {
	margin: 10px 5px;
}

.controls {
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
	margin-right: 30px;
	cursor: pointer;
}

.button p {
	color: black;
	cursor: pointer;
	margin: 4px;
}

.button {
	position: relative;
	background-color: white;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin: 20px 5px 5px;
}

.control {
	display: inline-block;
	margin: 0 10px;
}

.control * {
	display: inline-block;
	vertical-align: middle;
	margin: 6px 4px;
}

.apps {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1rem;
	margin: 40px 0;
	height: 100%;
}

/*stop the a element from overflowing from under the image*/
.app a {
	display: block;
	-webkit-user-drag: none;
}

.app {
	border-radius: 20px;
	overflow: hidden;
}

.app:hover {
	box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px;
	border-radius: 20px;
	height: fit-content;
	overflow: hidden;
}

.app img {
	width: 100%;
	border-radius: 20px;
	-webkit-user-drag: none;
}

.app.selected {
	box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px;
	border-radius: 20px;
	height: fit-content;
	overflow: hidden;
}

.contentBox {
	padding: 2rem 0 3rem 0;
	height: 100%;
}

.colorSchemes {
	margin: 0.5rem 1rem;
	text-align: center;
}

.settings {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	height: 100%;
}

.settingCategory {
	line-height: 0.6rem;
	color: #00ffff;
}

.setting {
	font-size: larger;
	color: #00aaaa;
}

.settingOption {
	display: inline-block;
	background-color: #00aaaa;
	border-radius: 50px;
	padding: 5px 15px;
	cursor: pointer;
	border: none;
	margin: 5px;
}

.settingOption.selected {
	background-color: #00ffff;
	box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px;
}

.settingOption:hover {
	filter: brightness(125%);
}

.appMenu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	height: 100%;
	padding: 1rem;
	color: #00ffff;
	line-height: 0.3rem;
	margin: 40px 1rem;
}

.doWithApp {
	display: block;
	border-radius: 50px;
	background-color: #00ffff;
	box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px;
	border: none;
	width: 10rem;
	height: 3rem;
	margin: 0 auto;
	font-size: larger;
	cursor: pointer;
}

.settingsApp {
	font-size: small;
	display: inline-block;
}

.settingsAppImage img {
	height: 4rem;
	-webkit-user-drag: none;
}

.settingsAppImage img:hover {
	filter: brightness(75%);
	cursor: pointer;
	box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000;
}

.settingsAppInfo {
	margin-top: 0.2em;
	vertical-align: top;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}
  
.overlayContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(60,67,79);
	background: linear-gradient(180deg, rgba(60,67,79,1) 0%, rgba(41,45,53,1) 100%);
	color: #00ffff;
	padding: 20px;
	border-radius: 10px;
}
  
.overlayButton {
	background-color: #00ffff;
	box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.addAppInputLabels {
	display: inline-block;
}

.addAppInputInputs {
	display: inline-block;
}

.addAppInput {
	display: block;
}

.addAppInputInputs input {
	border: none;
	border-radius: 10px;
	background-color: #00ffff;
	box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px;
	margin: 5px 10px;
}

.addAppInputInputs input:focus {
	outline: none;
}

.addAppInputSubmit {
	display: block;
	margin: 1rem;
}

.copyText {
	padding: 0;
	border: none;
	color: unset;
	cursor: pointer;
	font-size: unset;
	font-style: italic;
	background-color: unset;
}

/*Color Schemes*/
.default {
	background-color: #00ffff !important;
}
.default.selected {
	box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px !important;
}
.defaultText {
	color: #00D5D5 !important;
}

.cherry {
	background-color: #5E0013 !important;
}
.cherry.selected {
	box-shadow: 0 0 10px #C7233C, 0 0 20px #C7233C, 0 0 40px !important;
}
.cherryText {
	color: #9A0B20 !important;
}

.orange {
	background-color: #FD5602 !important;
}
.orange.selected {
	box-shadow: 0 0 10px #FF8303, 0 0 20px #FF8303, 0 0 40px !important;
}
.orangeText {
	color: #FE6E00 !important;
}

.banana {
	background-color: #FFB400 !important;
}
.banana.selected {
	box-shadow: 0 0 10px #F0FF00, 0 0 20px #F0FF00, 0 0 40px !important;
}
.bananaText {
	color: #FFDB00 !important;
}

.lime {
	background-color: #56FF00 !important;
}
.lime.selected {
	box-shadow: 0 0 10px #C9FF00, 0 0 20px #C9FF00, 0 0 40px !important;
}
.limeText {
	color: #A3FF00 !important;
}

.kiwi {
	background-color: #779404 !important;
}
.kiwi.selected {
	box-shadow: 0 0 10px #9EBB40, 0 0 20px #9EBB40, 0 0 40px !important;
}
.kiwiText {
	color: #8EAA1D !important;
}

.blueberry {
	background-color: #3E2F6F !important;
}
.blueberry.selected {
	box-shadow: 0 0 10px #705CB2, 0 0 20px #705CB2, 0 0 40px !important;
}
.blueberryText {
	color: #603F96 !important;
}

.grape {
	background-color: #461088 !important;
}
.grape.selected {
	box-shadow: 0 0 10px #632EA7, 0 0 20px #632EA7, 0 0 40px !important;
}
.grapeText {
	color: #5915A5 !important;
}

.raspberry {
	background-color: #EC1354 !important;
}
.raspberry.selected {
	box-shadow: 0 0 10px #FB79A0, 0 0 20px #FB79A0, 0 0 40px !important;
}
.raspberryText {
	color: #F23A72 !important;
}
/*End Color Schemes*/